KIT_KEY=''
KIT_URL='https://api.convertkit.com/v3'
KIT_FID='7769330'

API_HOST='http://localhost:3031'
COOKIE_SECRET='d5417c3bd4470683d62a3f6d86d0902d'

DEV_GIT_TOKEN='....'


# SNS
SNS_GG_ID=''
SNS_GG_RD=''

SNS_KK_ID=''
SNS_KK_RD=''

SNS_NV_ID=''
SNS_NV_RD=''