KIT_KEY=''
KIT_URL=''
KIT_FID=''

API_HOST='http://localhost:3031'
COOKIE_SECRET=''

DEV_GIT_TOKEN=''


# SNS
SNS_GG_ID=''
SNS_GG_RD='https://localhost:5173/auth/sns/google/callback'

SNS_KK_ID=''
SNS_KK_RD='https://localhost:5173/auth/sns/kakao/callback'

SNS_NV_ID=''
SNS_NV_RD='https://localhost:5173/auth/sns/naver/callback'

SNS_AP_ID=''
SNS_AP_RD='https://ex-mac-98.com:5173/auth/sns/apple/callback'

